nav.navbar.navbar-expand-lg.navbar-light.bg-danger.topAttention
  a.navbar-brand.topAttention(href='#') This Website is under Development
header.header.float
  h1.primary-heading
    a.nav-list.first(href='/index') Colors' Go
  //
    <div class="toggle-menu">
    <i class="fas fa-bars"></i>
    </div>
  nav.navigation
    ul.nav-main
      li
        a.nav-list(href='/index') Home
      li
        a.nav-list(href='/Checker') Contrast Checker
      li
        a.nav-list(href='/Enhanced') Enhanced
      li
        a.nav-list(href='/Pallete') Pallete
      li
        a.nav-list.last(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight' href='pop') Learn More

