header.header.float
  h1.primary-heading
    a.nav-list.first(href='#') Colors
  //
    <div class="toggle-menu">
    <i class="fas fa-bars"></i>
    </div>
  nav.navigation
    ul.nav-main
      li
        a.nav-list(href='/index') Home
      li
        a.nav-list(href='/Checker') Contrast Checker
      li
        a.nav-list(href='/Enhanced') Enhanced
      li
        a.nav-list.last(href='pop') Learn More
