doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ------------------ CSS Stylesheet ----------------------------------
  // ----------------------- OWl Carousel --------------------------------------------
  // ----------------------------------------------------------------------------------
  link(href='./CSS/style.css' rel='stylesheet')
  link(href='./CSS/grid.css' rel='stylesheet')
  link(href='./CSS/mediaquery.css' rel='stylesheet')
  // -----------------------------------------------------------------------
  title=`ColorOsm | ${title}`
body 
  //-HEADER
  include _header  

  block content

  //-FOOTER
  include _footer


  script(src='./JS/jqueryv3.6.0.min.js')
  //-script(src='./JS/pickr.js')
  script(src='./JS/script.js')
  script(src='./JS/all.js')