extends base  


block content 
  section.section-main
    .padding1
      .grid
        .hero-right
          h2.secondary-heading
            | Get Colors Choice for your websites!!
          p.primary-para Followed by the guidelines of WCAG
          .flex
            a.btn.btn-(href='pallete.html') Explore
            a.btn.btn-.btnlast(href='qpp' data-bs-toggle='offcanvas' data-bs-target='#offcanvasBottom' aria-controls='offcanvasBottom') About us
        .hero-left
          .colors-container
            .color
              .color--
                span #000000
            .color
              .color--
                span #000000
            .color
              .color--
                span #000000
            .color
              .color--
                span #000000
            .color
              .color--
                span #000000
            .color
              .color--
                span #000000
            .copied copied to clipboard!!
