/** do mot use rem since it cause error in certain browser  instead use em [ rem==em] consider**/

/************************************************/
/*** 85 * 16 = 1360px (for smaller desktop)  ****/
/************************************************/

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .flex {
    align-items: flex-end;
    justify-content: flex-start;
    gap: 4.4rem;
  }
  .hero-right {
    align-items: center;
    justify-content: center;
  }
  .topAttention {
    max-width: 100%;
  }
  .navigation {
    display: none;
  }
  .toggle-menu {
    display: flex;
  }
  .nav-main {
    flex-direction: column;
    gap: 2rem;
    font-size: 64px;
  }
  .nav-list:link,
  .nav-list:visited {
    color: #222;
  }
  .hero-right {
    display: block;
  }
}
